@font-face {
  font-family: monaco;
  src: url(typeface/monaco.ttf);
}

body{
  font-family: monaco;
  background-color: #111;
  color: #fff;
}

.name{
  text-align: center;
  background-color: #444;
  padding: 100px;
}
