@font-face {
  font-family: monaco;
  src: url(typeface/monaco.ttf);
}

body{
  font-family: monaco;
  background-color: #010c14;
  color: #fff;
}

.name{
  text-align: center;
  background-color: #041b2b;
  padding: 100px;
}

.code{
  float: right;
}

.bio{
  background-image: url(pic/pexels-photo-160107.png);
}
